<%- include('partials/header.ejs') %>

<div class="container post-create">
  <div class="my-3">
    <h3>Title</h3> 
    <form action="/post" method="post">
      <input name="title" type="text" class="feedback-input" placeholder="Title" />

    <h3>Content</h3>
      <textarea name="content" class="feedback-input" placeholder="Description"></textarea>
      <input type="submit" value="SUBMIT" />
    </form>
  </div>
</div>



<%- include('partials/footer.ejs') %>